# --- Fichiers d'environnement et secrets ---
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# --- IDEs et Éditeurs (IntelliJ, WebStorm, Android Studio) ---
.idea/
*.iml
.gradle
/local.properties
/build
/captures
.externalNativeBuild
.cxx

# --- IDEs (VS Code) ---
.vscode/
*.code-workspace

# --- Systèmes d'exploitation ---
.DS_Store
Thumbs.db

# --- Dépendances Node.js ---
node_modules/
/jspm_packages
/web_modules

# --- Logs et fichiers temporaires ---
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pid
*.pid
*.seed
*.pid.lock

# --- Couverture de code et builds ---
coverage/
dist/
.next/
out/